.card-container {
    margin-top: 32px;
}

.card {
    width: 16rem;
    border-style: none;
    border-color: transparent !important;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    color: #5f5b5b;
    font-size: 0.8rem;
}

.card-img-top {
    margin-top: 80px;
    margin-bottom: 80px; // just for the first card
    width: 12rem;
}

.card-body {
    background-color: white;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.card-title {
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

.btn-arrow-right {
    margin-left: 0.2rem;
    height: 2.6rem;
}

.card-body:not(:has(.btn-arrow-left)) .btn-arrow-right {
    margin-left: 7.8rem;
}

.card-body:not(:has(.btn-arrow-right)) .btn-arrow-left {
    margin-left: 8rem;
}

.btn-arrow-left {
    border: black 1px solid;
    height: 2.6rem;
    margin-left: 5rem;
    background-color: white;

}

.bi-arrow-right,
.bi-arrow-left {
    vertical-align: -.125em;
}

.btn-bolete {
    padding: 4px;
    margin-top: 16px;
    background-color: rgb(221, 219, 219);
    border-radius: 50%;
    border: transparent;
}

.page-item {
    list-style: none;
    margin-right: 2.5px;
}

.btn-bolete.active {
    background-color: black;
    height: 0.4rem;
    border-radius: 50%;
    padding-left: 8px;
    padding-right: 8px;
}